@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root { /*creates css variables with default values that will change based on user input, fundamental for this project*/
    --backColor: white
    --colorText: black
}

body {
    background-color: var(--backColor); /*makes the body background color the --backColor variable, as it will change frequently*/
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    min-height: 100vh;
}

#colorText {
    color: var(--colorText);
}

#enterColorText {
    color: var(--colorText);
}

#updateColor {
    height: 36px;
    width: 64px;
}

#inputText {
    height: 36px;
    border-radius: 12px;
}

.centerBlock { /*centers the control panel, specifically those objects under class centerBlock*/
    border-color: var(--colorText);
    align-items: center;
    border: 5px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
    padding-bottom: 10px;
}

a.button { /*makes the link with class button look similar to the other button for consistency*/
    padding: 1px 6px;
    border: 1px outset;
    border-radius: 3px;
    color: black;
    background-color: rgb(236, 236, 236);
}

.container { /*contains space where image will appear*/
    max-width: 360px;
    margin: 0 auto;
}

.card img{
    width: 100%;
    border-radius: 12px;
}

.attribution { /*sticks attribution to the bottom of the page so it is visible when scrolling, neccessary after images appear*/
    font-size: 11px; 
    color: var(--colorText);
    position: fixed;
    bottom: 0;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}