:root {
    --backColor: white
    --colorText: black
}

body{
    background-color: var(--backColor);
}

#colorText {
    color: var(--colorText);
}

#enterColorText {
    color: var(--colorText);
}

#updateColor {
    height: 36px;
    width: 64px;
}

input {
    height: 36px;
}

a.button {
    padding: 1px 6px;
    border: 1px outset;
    border-radius: 3px;
    color: black;
    background-color: rgb(236, 236, 236);
}